



<div class="about">
    <div class="container container-main">
      <img src="https://avatars1.githubusercontent.com/u/10645051?v=3&s=460" alt="person" class="profile-img"/>


      <header>
        <h1>Hello,<br> my name is <strong>Chris Chen</strong>, thanks for looking at my resume</h1>
      </header>


      <br/>

      <div class="row">
        <div class="col-md-7">
          <h2># About Me #</h2>
          <p>I has experience with React, redux,ES6, babel,Webpack.  I has work knowledge by using deferent program languages including Javascript,Java, VB,Ruby and c#.</p>
          <p>I am fascinated with functional program. I am >>= myself to haskell, and use the functional program style in javascript by using ramda, folktale.js and fantasylandjs</p>
        </div>
        <div class="col-md-5">
          <h2># Contact#</h2>
          <ul class="contact-list img-thumbnail">
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Phone_font_awesome.svg/768px-Phone_font_awesome.svg.png" alt="phone" class="phone"/>(702)203-8243</li>
            <li><img style="width: 85px; height: 102px; margin-left: -1px; margin-right: 0px; margin-top: 0px;" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-email-128.png" alt="email" />lei110408@gmail.com</li>

          </ul>
        </div>
      </div>

      <div class="row">

        <div class="col-md-7">
          <h2> # Education & Experience #</h2>


          <div class="media">
            <div class="media-left">
              2001-2005
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jiamusi university</h4>
              <p>Computer Science bachelor degree</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              2008-2010
            </div>
            <div class="media-body">
              <h4 class="media-heading">UNLV</h4>
              <p>Hotel Master Degree</p>
            </div>


          </div>

          <div class="media">
            <div class="media-left">
              2010-2014
            </div>
            <div class="media-body">
              <h4 class="media-heading">Caesars Entertainment</h4>
              <p>Sr Analyst - Revenue Managment / Data Logistics </p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              2014-Now
            </div>
            <div class="media-body">
              <h4 class="media-heading">Duetto Research</h4>
              <p>Sr Analyst -  Deployement</p>
            </div>


          </div>
        </div>

        <div class="col-md-5">
          <h2> # Program Skill #</h2>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
              Javascript
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
              HTML/CSS
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
              Java
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              Haskell
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
              Ruby
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              C#
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              VBA/VBS
            </div>
          </div>






        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h2> # Frameworks and Tools SKILL</h2>
          <div class="alert alert-success"></i>Ruby On Rails</div>
          <div class="alert alert-info">Java Spring</div>
          <div class="alert alert-success">Node.js && Express </div>
          <div class="alert alert-info">React, Redux, Jquery, Angular1.x</div>
          <div class="alert alert-success">Git</div>
          <div class="alert alert-info">Heroku</div>



        </div>


        <div class="col-md-5">
          <h2> # Git Hub Account#</h2>

          <li><a href="https://github.com/chris110408?tab=repositories"target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0zFQ-cjs0478bjvZWEsST-Xly1gSe1m0A_eFU0uEpekcGoUxtig" alt="work"/>
        </a>
        </div>
      </div>




    </div>  <!--container-->

</div>